body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87CEEB;
    /* Цвет неба */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    display: flex;
    justify-content: center;
}

.islands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.island1 {
    margin-left: 120px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 350px;
    height: 200px;
    transition: transform 0.2s;
    position: relative;
    clip-path: polygon(
                70% 0%,
                /* Верхняя центральная точка */
                85% 15%,
                /* Правая верхняя точка */
                100% 50%,
                /* Правая центральная точка */
                80% 85%,
                /* Правая нижняя точка */
                50% 100%,
                /* Нижняя центральная точка */
                20% 85%,
                /* Левая нижняя точка */
                0% 50%,
                /* Левая центральная точка */
                15% 15%
                /* Левая верхняя точка */
            );
}

.island1:hover {
    transform: scale(1.05);
}

.island2 {
    margin-right: -30px;
    margin-top: -100px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 215px;
    height: 265px;
    transition: transform 0.2s;
    position: relative;
    clip-path: polygon(50% 0%,
            /* Верхняя центральная точка */
            80% 30%,
            /* Правая верхняя точка */
            100% 40%,
            /* Правая центральная точка */
            80% 90%,
            /* Правая нижняя точка */
            50% 100%,
            /* Нижняя центральная точка */
            20% 90%,
            /* Левая нижняя точка */
            0% 50%,
            /* Левая центральная точка */
            20% 10%
            /* Левая верхняя точка */
        );
}

.island2:hover {
    transform: scale(1.05);
}

.island3 {
    
    
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 280px;
    height: 280px;
    transition: transform 0.2s;
    position: relative;
    clip-path: polygon(50% 0%,
            /* Верхняя центральная точка */
            70% 5%,
            /* Правая верхняя точка */
            100% 50%,
            /* Правая центральная точка */
            80% 90%,
            /* Правая нижняя точка */
            50% 100%,
            /* Нижняя центральная точка */
            20% 90%,
            /* Левая нижняя точка */
            5% 50%,
            /* Левая центральная точка */
            15% 10%
            /* Левая верхняя точка */
        );
}

.island3:hover {
    transform: scale(1.05);
}



.content {
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 1;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media screen and (min-width: 426px) {
    .island1{
        margin: 0;
        background-color: chocolate;
    }

    .island2 {
        margin: 0;
        background-color: chocolate;
    }

    .island3 {
        margin: 0;
        background-color: chocolate;
    }
}

@media screen and (min-width: 769px) {
    .island1 {
        background-color: red;
    }
    
    .island2 {
        background-color: red;
    }
    
    .island3 {
        background-color: red;
    }
}


